extends layout

block content
	div.container-fluid( style="text-align:center;" )
		h1.caps= title
		p Here are the sprites available for  
			span.caps #{title}.  
			span Animated sprites are displayed first. If you would like to pet  
			span.caps #{title} 
			span head to 
			+goto_pet_button("/pet?name="+title+"&age=adult")
		+row_container
			div.col
				+card("Angry","","/res/sprites/adult/" + title + "/dynamic/angry.png")
			div.col
				+card("Backpack","","/res/sprites/adult/" + title + "/dynamic/backpack.png")
			div.col
				+card("Bath","","/res/sprites/adult/" + title + "/dynamic/bath.png")
			div.col
				+card("Bow","","/res/sprites/adult/" + title + "/dynamic/bow.png")
			div.col
				+card("Bow Tie","","/res/sprites/adult/" + title + "/dynamic/bow_tie.png")
			div.col
				+card("Bubbles","","/res/sprites/adult/" + title + "/dynamic/bubbles.png")
			div.col
				+card("Brushing Teeth","","/res/sprites/adult/" + title + "/dynamic/brushing_teeth.png")
			div.col
				+card("Cap","","/res/sprites/adult/" + title + "/dynamic/cap.png")
			div.col
				+card("Cape","","/res/sprites/adult/" + title + "/dynamic/cape.png")
			div.col
				+card("Close Up","","/res/sprites/adult/" + title + "/dynamic/close_up.png")
			div.col
				+card("Computer","","/res/sprites/adult/" + title + "/dynamic/computer.png")
			div.col
				+card("Darts","","/res/sprites/adult/" + title + "/dynamic/darts.png")
			div.col
				+card("Drum","","/res/sprites/adult/" + title + "/dynamic/drum.png")
			div.col
				+card("Eating","","/res/sprites/adult/" + title + "/dynamic/eating.png")
			div.col
				+card("General","","/res/sprites/adult/" + title + "/dynamic/general.png")
			div.col
				+card("Glasses","","/res/sprites/adult/" + title + "/dynamic/glasses.png")
			div.col
				+card("Hair Gel","","/res/sprites/adult/" + title + "/dynamic/hair_gel.png")
			div.col
				+card("Music","","/res/sprites/adult/" + title + "/dynamic/music.png")
			div.col
				+card("Pencil","","/res/sprites/adult/" + title + "/dynamic/pencil.png")
			div.col
				+card("Roller Skate","","/res/sprites/adult/" + title + "/dynamic/roller_skate.png")
			div.col
				+card("Running","","/res/sprites/adult/" + title + "/dynamic/running.png")
			div.col
				+card("Sitting","","/res/sprites/adult/" + title + "/dynamic/sitting.png")
			div.col
				+card("Skateboarding","","/res/sprites/adult/" + title + "/dynamic/skateboarding.png")
			div.col
				+card("Sleeping","","/res/sprites/adult/" + title + "/dynamic/sleeping.png")
			div.col
				+card("Surprise Good","","/res/sprites/adult/" + title + "/dynamic/surprise_good.png")
			div.col
				+card("Surprise Bad","","/res/sprites/adult/" + title + "/dynamic/surprise_bad.png")
			div.col
				+card("Trumpet","","/res/sprites/adult/" + title + "/dynamic/trumpet.png")
			div.col
				+card("Weights","","/res/sprites/adult/" + title + "/dynamic/weights.png")
			div.col
				+card("Wig","","/res/sprites/adult/" + title + "/dynamic/wig.png")
			div.col
				+card("Wings","","/res/sprites/adult/" + title + "/dynamic/wings.png")
			div.col
				+card("Begging","","/res/sprites/adult/" + title + "/static/begging.png")
			div.col
				+card("Boots","","/res/sprites/adult/" + title + "/static/boots.png")
			div.col
				+card("Glasses","","/res/sprites/adult/" + title + "/static/glasses.png")
			div.col
				+card("Happy","","/res/sprites/adult/" + title + "/static/happy.png")
			div.col
				+card("Maracas","","/res/sprites/adult/" + title + "/static/maracas.png")
			div.col
				+card("No","","/res/sprites/adult/" + title + "/static/no.png")
			div.col
				+card("Sad","","/res/sprites/adult/" + title + "/static/sad.png")
			div.col
				+card("Throne","","/res/sprites/adult/" + title + "/static/throne.png")
			div.col
				+card("Tug Of War","","/res/sprites/adult/" + title + "/static/tug_of_war.png")
			div.col
				+card("UFO","","/res/sprites/adult/" + title + "/static/ufo.png")