extends layout

block content
	div.container-fluid( style="text-align:center;" )
		h1= title
		p Welcome to #{title}
		+row_container
			div.col
				+card("General 01","",title,"/","/res/" + title + "/general_01.png")
			div.col
				+card("General 02","",title,"/","/res/" + title + "/general_02.png")
			div.col
				+card("Happy","",title,"/","/res/" + title + "/happy.png")
			div.col
				+card("Back turned","",title,"/","/res/" + title + "/back_turn.png")
			div.col
				+card("Sad","",title,"/","/res/" + title + "/sad.png")
			div.col
				+card("Eyes closed","",title,"/","/res/" + title + "/eyes_closed.png")
			div.col
				+card("Angry","",title,"/","/res/" + title + "/angry.png")
			div.col
				+card("Eating 01","",title,"/","/res/" + title + "/eating_01.png")
			div.col
				+card("Eating 02","",title,"/","/res/" + title + "/eating_02.png")
			div.col
				+card("No","",title,"/","/res/" + title + "/no.png")
			div.col
				+card("Running 01","",title,"/","/res/" + title + "/running_01.png")
			div.col
				+card("Running 02","",title,"/","/res/" + title + "/running_02.png")
			div.col
				+card("Falling","",title,"/","/res/" + title + "/falling.png")
			div.col
				+card("Surprise","",title,"/","/res/" + title + "/surprise.png")