extends layout

block content
	div.container-fluid( style="text-align:center;" )
		h1= title
		p Welcome to #{title}
		+row_container
			div.col
				+card(title,"General 01",title,"/","/res/" + title + "/general_01.png")
			div.col
				+card("title","General 01",title,"/","/res/" + title + "/general_02.png")