extends layout

block content
	div.container-fluid( style="text-align:center;" )
		h1= title
		p Welcome to #{title}
		+row_container
			div.col
				+card("General 01","",title,"/","/res/sprites/baby/" + title + "/general_01.png")
			div.col
				+card("General 02","",title,"/","/res/sprites/baby/" + title + "/general_02.png")
			div.col
				+card("Happy","",title,"/","/res/sprites/baby/" + title + "/happy.png")
			div.col
				+card("Back turned","",title,"/","/res/sprites/baby/" + title + "/back_turn.png")
			div.col
				+card("Sad","",title,"/","/res/sprites/baby/" + title + "/sad.png")
			div.col
				+card("Eyes closed","",title,"/","/res/sprites/baby/" + title + "/eyes_closed.png")
			div.col
				+card("Angry","",title,"/","/res/sprites/baby/" + title + "/angry.png")
			div.col
				+card("Eating 01","",title,"/","/res/sprites/baby/" + title + "/eating_01.png")
			div.col
				+card("Eating 02","",title,"/","/res/sprites/baby/" + title + "/eating_02.png")
			div.col
				+card("No","",title,"/","/res/sprites/baby/" + title + "/no.png")
			div.col
				+card("Running 01","",title,"/","/res/sprites/baby/" + title + "/running_01.png")
			div.col
				+card("Running 02","",title,"/","/res/sprites/baby/" + title + "/running_02.png")
			div.col
				+card("Falling","",title,"/","/res/sprites/baby/" + title + "/falling.png")
			div.col
				+card("Surprise","",title,"/","/res/sprites/baby/" + title + "/surprise.png")
			div.col
				+card("Surprise Good","",title,"/","/res/sprites/baby/" + title + "/surprise_good.png")
			div.col
				+card("Surprise Bad","",title,"/","/res/sprites/baby/" + title + "/surprise_bad.png")
			div.col
				+card("Horrible Food","",title,"/","/res/sprites/baby/" + title + "/horrible_food.png")
			div.col
				+card("Badly Behaved","",title,"/","/res/sprites/baby/" + title + "/badly_behaved.png")
			div.col
				+card("Tug of war","",title,"/","/res/sprites/baby/" + title + "/tug_of_war.png")
			div.col
				+card("In bed (left)","",title,"/","/res/sprites/baby/" + title + "/bed_01.png")
			div.col
				+card("In bed (right)","",title,"/","/res/sprites/baby/" + title + "/bed_02.png")
			div.col
				+card("Hatching","",title,"/","/res/sprites/baby/" + title + "/hatching.png")