extends layout

block content
	div.container-fluid( style="text-align:center;" )
		h1= title
		p Welcome to #{title}+row_container
		div.col
			+card(title,"General 01",title,"/","res/" & title & "/general_01.png")
		div.col
			+card(title,"General 02",title,"/","res/" & title & "/general_02.png")
		div.col
			+card(title,"Happy",title,"/","res/" & title & "/happy.png")
		div.col
			+card(title,"Back turned",title,"/","res/" & title & "/back_turned.png")
		div.col
			+card(title,"Sad",title,"/","res/" & title & "/sad.png")
		div.col
			+card(title,"Eyes closed",title,"/","res/" & title & "/eyes_closed.png")
		div.col
			+card(title,"Angry",title,"/","res/" & title & "/angry.png")
		div.col
			+card(title,"Eating 01",title,"/","res/" & title & "/eating_01.png")
		div.col
			+card(title,"Eating 02",title,"/","res/" & title & "/eating_02.png")
		div.col
			+card(title,"No",title,"/","res/" & title & "/no.png")
		div.col
			+card(title,"Running 01",title,"/","res/" & title & "/running_01.png")
		div.col
			+card(title,"Running 02",title,"/","res/" & title & "/running_02.png")
		div.col
			+card(title,"Falling",title,"/","res/" & title & "/falling.png")
		div.col
			+card(title,"Surprise",title,"/","res/" & title & "/surprise.png")
		div.col
			+card(title,"Surprise Good",title,"/","res/" & title & "/surprise_good.png")
		div.col
			+card(title,"Surprise Bad",title,"/","res/" & title & "/surprise_bad.png")
		div.col
			+card(title,"Horrible Food",title,"/","res/" & title & "/horrible_food.png")
		div.col
			+card(title,"Badly Behaved",title,"/","res/" & title & "/badly_behaved.png")
		div.col
			+card(title,"Tug of war",title,"/","res/" & title & "/tug_of_war.png")
		div.col
			+card(title,"In bed (left)",title,"/","res/" & title & "/bed_01.png")
		div.col
			+card(title,"In bed (right)",title,"/","res/" & title & "/bed_02.png")
		div.col
			+card(title,"Hatching",title,"/","res/" & title & "/hatching.png)