extends layout

block content
	div.container-fluid( style="text-align:center;" )
		h1.caps= title
		p Welcome to 
			span.caps #{title}
			. Here are the sprites available for  
			span.caps #{title}
			.  
		+row_container
			div.col
				+card("Eating (dynamic)","","/res/sprites/baby/" + title + "/dynamic/eating.png")
			div.col
				+card("General (dynamic)","","/res/sprites/baby/" + title + "/dynamic/general.png")
			div.col
				+card("Hatching (dynamic)","","/res/sprites/baby/" + title + "/dynamic/hatching.png")
			div.col
				+card("Running (dynamic)","","/res/sprites/baby/" + title + "/dynamic/running.png")
			div.col
				+card("In bed (dynamic)","","/res/sprites/baby/" + title + "/dynamic/sleeping.png")
			div.col
				+card("Surprise Bad (dynamic)","","/res/sprites/baby/" + title + "/dynamic/surprise_bad.png")
			div.col
				+card("Surprise Good (dynamic)","","/res/sprites/baby/" + title + "/dynamic/surprise_good.png")
			div.col
				+card("General 01","","/res/sprites/baby/" + title + "/static/general_01.png")
			div.col
				+card("General 02","","/res/sprites/baby/" + title + "/static/general_02.png")
			div.col
				+card("Happy","","/res/sprites/baby/" + title + "/static/happy.png")
			div.col
				+card("Back turned","","/res/sprites/baby/" + title + "/static/back_turn.png")
			div.col
				+card("Sad","","/res/sprites/baby/" + title + "/static/sad.png")
			div.col
				+card("Eyes closed","","/res/sprites/baby/" + title + "/static/eyes_closed.png")
			div.col
				+card("Angry","","/res/sprites/baby/" + title + "/static/angry.png")
			div.col
				+card("Eating 01","","/res/sprites/baby/" + title + "/static/eating_01.png")
			div.col
				+card("Eating 02","","/res/sprites/baby/" + title + "/static/eating_02.png")
			div.col
				+card("No","","/res/sprites/baby/" + title + "/static/no.png")
			div.col
				+card("Running 01","","/res/sprites/baby/" + title + "/static/running_01.png")
			div.col
				+card("Running 02","","/res/sprites/baby/" + title + "/static/running_02.png")
			div.col
				+card("Falling","","/res/sprites/baby/" + title + "/static/falling.png")
			div.col
				+card("Surprise","","/res/sprites/baby/" + title + "/static/surprise.png")
			div.col
				+card("Surprise Good","","/res/sprites/baby/" + title + "/static/surprise_good.png")
			div.col
				+card("Surprise Bad","","/res/sprites/baby/" + title + "/static/surprise_bad.png")
			div.col
				+card("Horrible Food","","/res/sprites/baby/" + title + "/static/horrible_food.png")
			div.col
				+card("Badly Behaved","","/res/sprites/baby/" + title + "/static/badly_behaved.png")
			div.col
				+card("Tug of war","","/res/sprites/baby/" + title + "/static/tug_of_war.png")
			div.col
				+card("In bed (left)","","/res/sprites/baby/" + title + "/static/bed_01.png")
			div.col
				+card("In bed (right)","","/res/sprites/baby/" + title + "/static/bed_02.png")
			div.col
				+card("Hatching","","/res/sprites/baby/" + title + "/static/hatching.png")