extends layout

block content
	div.container-fluid( style="text-align:center;" )
		h1.caps= title
		p Here are the sprites available for   
			span.caps #{title}.  
			span Animated sprites are displayed first. If you would like to pet  
			span.caps #{title} 
			span head to 
			+goto_pet_button("/pet?name="+title+"&age=baby")
		br
		h1.caps Dynamic
		hr
		+row_container
			div.col(style="margin:auto;")
				+card("Eating","","/res/sprites/baby/" + title + "/dynamic/eating.png")
			div.col(style="margin:auto;")
				+card("General","","/res/sprites/baby/" + title + "/dynamic/general.png")
			div.col(style="margin:auto;")
				+card("Hatching","","/res/sprites/baby/" + title + "/dynamic/hatching.png")
			div.col(style="margin:auto;")
				+card("Running","","/res/sprites/baby/" + title + "/dynamic/running.png")
			div.col(style="margin:auto;")
				+card("In bed","","/res/sprites/baby/" + title + "/dynamic/sleeping.png")
			div.col(style="margin:auto;")
				+card("Surprise Bad","","/res/sprites/baby/" + title + "/dynamic/surprise_bad.png")
			div.col(style="margin:auto;")
				+card("Surprise Good","","/res/sprites/baby/" + title + "/dynamic/surprise_good.png")
		br
		h1.caps Static
		hr
		+row_container
			div.col(style="margin:auto;")
				+card("Happy","","/res/sprites/baby/" + title + "/static/happy.png")
			div.col(style="margin:auto;")
				+card("Back turned","","/res/sprites/baby/" + title + "/static/back_turn.png")
			div.col(style="margin:auto;")
				+card("Sad","","/res/sprites/baby/" + title + "/static/sad.png")
			div.col(style="margin:auto;")
				+card("Eyes closed","","/res/sprites/baby/" + title + "/static/eyes_closed.png")
			div.col(style="margin:auto;")
				+card("Angry","","/res/sprites/baby/" + title + "/static/angry.png")
			div.col(style="margin:auto;")
				+card("No","","/res/sprites/baby/" + title + "/static/no.png")
			div.col(style="margin:auto;")
				+card("Surprise","","/res/sprites/baby/" + title + "/static/surprise.png")
			div.col(style="margin:auto;")
				+card("Horrible Food","","/res/sprites/baby/" + title + "/static/horrible_food.png")
			div.col(style="margin:auto;")
				+card("Badly Behaved","","/res/sprites/baby/" + title + "/static/badly_behaved.png")
			div.col(style="margin:auto;")
				+card("Tug of war","","/res/sprites/baby/" + title + "/static/tug_of_war.png")
			div.col(style="margin:auto;")
				+card("Hatching","","/res/sprites/baby/" + title + "/static/hatching.png")