extends layout

block content
	div.container-fluid( style="text-align:center;" )
		h1.caps= title
		p Here are the sprites available for  
			span.caps #{title}
			. Animated sprites are displayed first.
		+row_container
			div.col
				+card("Eating","","/res/sprites/child/" + title + "/dynamic/eating.png")
			div.col
				+card("General","","/res/sprites/child/" + title + "/dynamic/general.png")
			div.col
				+card("Rolling","","/res/sprites/child/" + title + "/dynamic/rolling.png")
			div.col
				+card("Running","","/res/sprites/child/" + title + "/dynamic/running.png")
			div.col
				+card("Sleeping","","/res/sprites/child/" + title + "/dynamic/sleeping.png")
			div.col
				+card("Surprise Good","","/res/sprites/child/" + title + "/dynamic/surprise_good.png")
			div.col
				+card("Surprise Bad","","/res/sprites/child/" + title + "/dynamic/surprise_bad.png")
			div.col
				+card("Happy","","/res/sprites/child/" + title + "/static/happy.png")
			div.col
				+card("Back turned","","/res/sprites/child/" + title + "/static/back_turn.png")
			div.col
				+card("Sad","","/res/sprites/child/" + title + "/static/sad.png")
			div.col
				+card("Eyes closed","","/res/sprites/child/" + title + "/static/eyes_closed.png")
			div.col
				+card("Angry","","/res/sprites/child/" + title + "/static/angry.png")
			div.col
				+card("No","","/res/sprites/child/" + title + "/static/no.png")
			div.col
				+card("Horrible Food","","/res/sprites/child/" + title + "/static/horrible_food.png")
			div.col
				+card("Badly Behaved","","/res/sprites/child/" + title + "/static/badly_behaved.png")
			div.col
				+card("Tug of war","","/res/sprites/child/" + title + "/static/tug_of_war.png")
			div.col
				+card("Crouching","","/res/sprites/child/" + title + "/static/crouching.png")