extends layout

block content
	div.container-fluid( style="text-align:center;" )
		h1= title
		p Welcome to #{title}
		+row_container
			div.col
				+card("Petitchi","General 01","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","General 01","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Happy","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Back turned","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Sad","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Eyes closed","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Angry","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Eating","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","No","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Running 01","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Running 02","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Falling","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Surprise","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Surprise Good","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Surprise Bad","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Horrible Food","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Badly Behaved","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Tug of war","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","In bed","Favicon","/","res/petitchi/.png")
			div.col
				+card("Petitchi","Hatching","Favicon","/","res/petitchi/.png")