extends layout

block content
	div.container-fluid( style="text-align:center;" )
		h1= title
		p Welcome to #{title}
		+row_container
			div.col
				+card("Test Card 1","Test text","Favicon","/","res/favicon.png")
			div.col
				+card("Test Card 2","Test text","Favicon","/","res/favicon.png")
			div.col
				+card("Test Card 3","Test text","Favicon","/","res/favicon.png")
			div.col
				+card("Test Card 4","Test text","Favicon","/","res/favicon.png")
			div.col
				+card("Test Card 5","Test text","Favicon","/","res/favicon.png")
			div.col
				+card("Test Card 6","Test text","Favicon","/","res/favicon.png")
			div.col
				+card("Test Card 7","Test text","Favicon","/","res/favicon.png")
			div.col
				+card("Test Card 8","Test text","Favicon","/","res/favicon.png")