extends layout  
  
block content  
	div.container-fluid( style="text-align:center;" )  
		h1= title  
		p Welcome to 
			span.caps #{title}  
		div.container( style="text-align:left;" )
			br
			h3 Babies
			hr
			br
			+row_container
				div.col  
					+card_link("Petitchi","Baby","Sprites","/pet/baby/petitchi","/res/sprites/baby/petitchi/dynamic/sleeping.png")  
				div.col  
					+card_link("Shiropetitchi","Baby","Sprites","/pet/baby/shiropetitchi","/res/sprites/baby/shiropetitchi/dynamic/sleeping.png") 
				br
				h3 Children
				hr
				br
			+row_container   
				div.col 
					+card_link("Kinakomotchi","Child","Sprites","/pet/child/kinakomotchi","/res/sprites/child/marutchi/dynamic/rolling.png")  
				div.col 
					+card_link("Hitodetchi","Child","Sprites","/pet/child/hitodetchi","/res/sprites/child/hitodetchi/dynamic/surprise_bad.png")  
				div.col  
					+card_link("Kuribotchi","Child","Sprites","/pet/child/kuribotchi","/res/sprites/child/kuribotchi/dynamic/eating.png")  
				div.col 
					+card_link("Marutchi","Child","Sprites","/pet/child/marutchi","/res/sprites/child/marutchi/dynamic/running.png")  
				br
				h3 Teens
				hr
				br
			+row_container   
				div.col  
					+card_link("Hinotamatchi","Teen","Sprites","/pet/teen/hinotamatchi","/res/sprites/teen/hinotamatchi/dynamic/bath.png")  
				div.col  
					+card_link("Young Mametchi","Teen","Sprites","/pet/teen/mametchi","/res/sprites/teen/mametchi/dynamic/surprise_good.png")  
				br
				h3 Adults
				hr
				br
			+row_container   
				div.col  
					+card_link("Mametchi","Adult","Sprites","/pet/adult/mametchi","/res/sprites/adult/mametchi/dynamic/skateboarding.png")  