extends layout

block content
	div.container-fluid
		h1= title
		p Welcome to #{title}
		+row_container
			div.col-sm
				+card("Test Card","Test text","Favicon","/","res/favicon.png")
			div.col-sm
				+card("Test Card","Test text","Favicon","/","res/favicon.png")
			div.col-sm
				+card("Test Card","Test text","Favicon","/","res/favicon.png")
			div.col-sm
				+card("Test Card","Test text","Favicon","/","res/favicon.png")
			div.col-sm
				+card("Test Card","Test text","Favicon","/","res/favicon.png")
			div.col-sm
				+card("Test Card","Test text","Favicon","/","res/favicon.png")
		+row_container
			div.col-sm
				+card("Test Card","Test text","Favicon","/","res/favicon.png")
			div.col-sm
				+card("Test Card","Test text","Favicon","/","res/favicon.png")
			div.col-sm
				+card("Test Card","Test text","Favicon","/","res/favicon.png")