extends layout  
  
block content  
	div.container-fluid( style="text-align:center;" )  
		h1= title  
		p Welcome to #{title}  

		div.fluid-container
			h2 Babies
				+row_container  
					div.col  
						+card_link("Petitchi","Baby","Petitchi","/pet/baby/petitchi","/res/sprites/baby/petitchi/dynamic/sleeping.png")  
					div.col  
						+card_link("Shiropetitchi","Baby","Shiropetitchi","/pet/baby/shiropetitchi","/res/sprites/baby/shiropetitchi/dynamic/sleeping.png") 
			h2 Children
				+row_container   
					div.col 
						+card_link("Marutchi","Child","Marutchi","/pet/child/marutchi","/res/sprites/child/marutchi/dynamic/running.png")  
					div.col  
						+card_link("Marutchi","Child","Marutchi","/pet/child/marutchi","/res/sprites/child/marutchi/dynamic/eating.png")  
			h2 Teens
				+row_container   
					div.col  
						+card_link("Hinotamatchi","Teen","Hinotamatchi","/pet/teen/hinotamatchi","/res/sprites/teen/hinotamatchi/dynamic/bath.png")  
					div.col  
						+card_link("Young Mametchi","Teen","Young Mametchi","/pet/teen/mametchi","/res/sprites/teen/mametchi/dynamic/surprise_good.png")  