extends layout  
  
block content  
	div.container-fluid( style="text-align:center;" )  
		h1= title  
		p Welcome to #{title}  
		+row_container  
			div.col  
				+card_link("Petitchi","Baby","Petitchi","/pet/baby/petitchi","/res/sprites/baby/petitchi/dynamic/general.png")  
			div.col  
				+card_link("Shiropetitchi","Baby","Shiropetitchi","/pet/baby/shiropetitchi","/res/sprites/baby/shiropetitchi/dynamic/general.png") 
			div.col  
				+card_link("Marutchi","Child","Marutchi","/pet/child/marutchi","/res/sprites/child/marutchi/dynamic/general.png")  
			div.col  
				+card_link("Hinotamatchi","Teen","Hinotamatchi","/pet/teen/hinotamatchi","/res/sprites/teen/hinotamatchi/dynamic/general.png")  
			div.col  
				+card_link("Young Mametchi","Teen","Young Mametchi","/pet/teen/mametchi","/res/sprites/teen/mametchi/dynamic/general.png")  