extends layout  
  
block content  
	div.container-fluid( style="text-align:center;" )  
		h1= title  
		p Welcome to #{title}  
		div.container( style="text-align:left;" )
			br
			h3 Babies
			hr
			br
			+row_container
				div.col  
					+card_link("Petitchi","Baby","Stats","/pet/baby/petitchi","/res/sprites/baby/petitchi/dynamic/sleeping.png")  
				div.col  
					+card_link("Shiropetitchi","Baby","Stats","/pet/baby/shiropetitchi","/res/sprites/baby/shiropetitchi/dynamic/sleeping.png") 
				br
				h3 Children
				hr
				br
			+row_container   
				div.col 
					+card_link("Marutchi","Child","Stats","/pet/child/marutchi","/res/sprites/child/marutchi/dynamic/running.png")  
				div.col  
					+card_link("Kuribotchi","Child","Stats","/pet/child/kuribotchi","/res/sprites/child/kuribotchi/dynamic/eating.png")  
				br
				h3 Teens
				hr
				br
			+row_container   
				div.col  
					+card_link("Hinotamatchi","Teen","Stats","/pet/teen/hinotamatchi","/res/sprites/teen/hinotamatchi/dynamic/bath.png")  
				div.col  
					+card_link("Young Mametchi","Teen","Stats","/pet/teen/mametchi","/res/sprites/teen/mametchi/dynamic/surprise_good.png")  
				br
				hr
				br