doctype html

include mixins

html
	head
	title= title
	
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/custom.css"/>
	
	<link rel="icon" href="res/favicon.png"/>
	
	<script src="js/bootstrap.bundle.min.js"></script>
body
	+nav("Pet's App", "dropdown_menu","dark")  
		+nav_item( "/", "active" ) Home  
		+nav_item( "/pet" ) Pets  
		+nav_item( "/pet/baby/petitchi" ) Petitchi Test  
	br  
	br  
	br  
	block content  
