doctype html

include mixins

html
	head
	title= title
	
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/custom.css"/>
	
	<link rel="icon" href="/res/favicon.png"/>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.slim.js" integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
	
body
	+nav("Petify", "dropdown_menu")  
		+nav_item( "/", "active" ) Home  
		+nav_item_dropdown( "#" )( label="Baby" )
			+nav_item( "/pet/baby/petitchi" ) Petitchi
			+nav_item( "/pet/baby/shiropetitchi" ) Shiropetitchi
		+nav_item_dropdown( "#" )( label="Child" )
			+nav_item( "/pet/child/hitodetchi" ) Hitodetchi
			+nav_item( "/pet/child/kinakomotchi" ) Kinakomotchi
			+nav_item( "/pet/child/kuribotchi" ) Kuribotchi
			+nav_item( "/pet/child/marutchi" ) Marutchi
		+nav_item_dropdown( "#" )( label="Teen" )
			+nav_item( "/pet/teen/hinotamatchi" ) Hinotamatchi
			+nav_item( "/pet/teen/mametchi" ) Young Mametchi
			+nav_item( "/pet/teen/oniontchi" ) Oniontchi
			+nav_item( "/pet/teen/ufotchi" ) Ufotchi
		+nav_item_dropdown( "#" )( label="Adult" )
			+nav_item( "/pet/adult/mametchi" ) Mametchi
		+nav_item( "/login", "" ) Login  
	br  
	br  
	br  
	block content
	+footer