doctype html

include mixins

html
	head
	title= title
	
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/custom.css"/>
	
	<link rel="icon" href="/res/favicon.png"/>
	
	<script src="/js/bootstrap.bundle.min.js"></script>
body
	+nav("Pet's App", "dropdown_menu","dark")  
		+nav_item( "/", "active" ) Home  
		+nav_item( "/pet" ) Pets  
		+nav_item( "/pet/baby/" ) Baby 
		+nav_item_dropdown( "#" )( label="Child")
			+nav_item( "/pet/baby/petitchi" ) Petitchi
			+nav_item( "/pet/baby/shiropetitchi" ) Shiropetitchi
			+nav_divider
			+nav_item( "/pet/child/marutchi" ) Marutchi
	br  
	br  
	br  
	block content  
