doctype html

include mixins

html
	head
	title= title
	
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/custom.css"/>
	
	<link rel="icon" href="/res/favicon.png"/>
	<script src="https://code.jquery.com/jquery-3.6.4.slim.js" integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	
body
	+nav("Pet's App", "dropdown_menu","dark")  
		+nav_item( "/", "active" ) Home  
		+nav_item( "/pet" ) Pets
		+nav_item_dropdown( "#" )( label="Baby" )
			+nav_item( "/pet/baby/petitchi" ) Petitchi
			+nav_item( "/pet/baby/shiropetitchi" ) Shiropetitchi
		+nav_item_dropdown( "#" )( label="Child" )
			+nav_item( "/pet/child/marutchi" ) Marutchi
		+nav_item_dropdown( "#" )( label="Teen" )
			+nav_item( "/pet/teen/hinotamatchi" ) Hinotamatchi
			+nav_item( "/pet/teen/mametchi" ) Young Mametchi
	br  
	br  
	br  
	block content