doctype html

include mixins

html
	head
	title= title
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<script language="javascript" src="js/bootstrap.min.js"></script>
body
	+nav("Project name", "dropdown_menu")
	block content
