doctype html

include mixins

html
	head
	title= title
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/custom.css"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script language="javascript" src="js/bootstrap.min.js"></script>
body
	+nav("Pet's App", "dropdown_menu","dark")
		+nav_item( "index.html", "active" ) Home
		+nav_item( "about.html" ) About
		+nav_item( "contact.html" ) Contact
	block content
