extends layout

block content
	div.card( class="text-center", style="max-width:25em; margin:auto;" )
		form( action="//pets.blaineharper.com/login", method="post")
			div.card-body
				br
				div.form-group
					input.form-control( name="username", type="text", placeholder="Username", required )
					br
					br
				div.form-group
					input.form-control( name="password", type="password", placeholder="Password", required )
					br
					br
				button( class=["btn btn-primary"], type="submit", value="login" ) Login
				br
				br
			div.card-footer.text-muted Head here if you need to 
				a( href="/signup" ) Sign Up
				