extends layout

block content
	div.card( class="text-center", style="max-width:25em;" )
		form( action="//pets.blaineharper.com/login", method="post" )
			div.card-body( style="margin:auto;" )
				div.form-group
					label.form-check-input( for="username" )
					input.form-control( name="username", type="text", placeholder="Username", required )
					br
					br
				div.form-group
					label.form-check-input( for="password" )
					input.form-control( name="password", type="password", placeholder="Password", required )
					br
					br
				button( class=["btn btn-primary"], type="submit", value="login" ) Login
			div.card-footer.text-muted Head here if you need to 
				a( href="#" ) Sign Up
				