//- Navbar mixins
mixin nav(name, id)
	nav( class=["navbar", "fixed-top", "navbar-expand-lg", "navbar-dark"], style="background-color: var(--bs-purple);" )
		a.navbar-brand(href="#")= name
		button.navbar-toggler( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
				span.navbar-toggler-icon
		.collapse.navbar-collapse( id=id )
			ul.mr-auto.navbar-nav
				block
mixin nav_item(href, active)
	li(class=["nav-item", active]): a(class="nav-link", href=href )
		block
mixin nav_item_dropdown(href, active)
	li(class=["dropdown", "nav-item", active])
		a.dropdown-toggle(class="dropdown-item", href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
			span.caret
		ul.dropdown-menu( role="menu" )
			block
mixin nav_divider
	li.divider
mixin nav_header
	li.dropdown-header
		block
//- End navbar mixins