extends layout

block content
	div.container-fluid( style="text-align:center; margin:auto" )
		br
		div.btn-group
			a( class=["btn btn-primary rounded-left"], href= '/pet?name=petitchi&age=baby' ) Petitchi
			a( class=["btn btn-primary rounded-right"], href= '/pet?name=shiropetitchi&age=baby' ) Shiropetitchi
		br
		div.btn-group
			a( class=["btn btn-warning rounded-left"], href= '/pet?name=kinakomotchi&age=child' ) Kinakomotchi
			a( class=["btn btn-warning rounded-0"], href= '/pet?name=hitodetchi&age=child' ) Hitodetchi
			a( class=["btn btn-warning rounded-0"], href= '/pet?name=kuribotchi&age=child' ) Kuribotchi
			a( class=["btn btn-warning rounded-right"], href= '/pet?name=marutchi&age=child' ) Marutchi
		br
		div.btn-group
			a( class=["btn btn-success rounded-left"], href= '/pet?name=hinotamatchi&age=teen' ) Hinotamatchi
			a( class=["btn btn-success rounded-right"], href= '/pet?name=mametchi&age=teen' ) Young Mametchi
		br
		div.btn-group
			a( class=["btn btn-info 	rounded"], href= '/pet?name=mametchi&age=adult' ) Mametchi
	br
	br
	div.container-fluid( style="text-align:center;" )
		h1.caps= name
		br
		div.card( style="width:18rem; margin:auto; text-align:center;" )
			img( onerror="this.onerror=null; this.src='/res/sprites/adult/mametchi/dynamic/general.png'", src= '/res/sprites/'+age+'/'+name+'/dynamic/general.png', class="card-img-top pixel rounded-0 border border-primary", style="max-width:10em;max-height:10em;margin:auto;margin-top:2.5em;background-color:#ababab;", id='petPNG' )
			div.card-body
				h5.card-title.caps= name
				p.card-text Hover over your pet for a closeup view!
				p.card-text Press the button below to select a new animation.
				div.btn-group
					button.btn.btn-primary.dropdown-toggle( type='button', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false' ) Animation
					div.dropdown-menu
						a( class=["dropdown-item"], href= '#', onclick="changeMood('#petPNG','sleeping','"+age+"', '"+name+"')") Sleeping
						a( class=["dropdown-item"], href= '#', onclick="changeMood('#petPNG','bath','"+age+"', '"+name+"')") Bath
						a( class=["dropdown-item"], href= '#', onclick="changeMood('#petPNG','eating','"+age+"', '"+name+"')") Eating
						a( class=["dropdown-item"], href= '#', onclick="changeMood('#petPNG','general','"+age+"', '"+name+"')") General
						a( class=["dropdown-item"], href= '#', onclick="changeMood('#petPNG','running','"+age+"', '"+name+"')") Running
						a( class=["dropdown-item"], href= '#', onclick="changeMood('#petPNG','sitting','"+age+"', '"+name+"')") Sitting
						a( class=["dropdown-item"], href= '#', onclick="changeMood('#petPNG','sleeping','"+age+"', '"+name+"')") Sleeping
						a( class=["dropdown-item"], href= '#', onclick="changeMood('#petPNG','surprise_good','"+age+"', '"+name+"')") Surprised (Good)
						a( class=["dropdown-item"], href= '#', onclick="changeMood('#petPNG','surprise_bad','"+age+"', '"+name+"')") Surprised (Bad)
				block
	script( src="/js/view_pet.js", type="text/javascript" ) resetMood("#petPNG", age, name)
		