extends layout

block content
	div.container-fluid( style="text-align:center; margin:auto" )
		+nav("Pets", "dropdown_pets","dark")  
			+nav_item( "/", "active" ) Home  
			+nav_item( "/pet", "" ) Pet  
			+nav_item_dropdown( "#" )( label="Baby" )
				+nav_item( "/pet/baby/petitchi" ) Petitchi
				+nav_item( "/pet/baby/shiropetitchi" ) Shiropetitchi
			+nav_item_dropdown( "#" )( label="Child" )
				+nav_item( "/pet/child/hitodetchi" ) Hitodetchi
				+nav_item( "/pet/child/kinakomotchi" ) Kinakomotchi
				+nav_item( "/pet/child/kuribotchi" ) Kuribotchi
				+nav_item( "/pet/child/marutchi" ) Marutchi
			+nav_item_dropdown( "#" )( label="Teen" )
				+nav_item( "/pet/teen/hinotamatchi" ) Hinotamatchi
				+nav_item( "/pet/teen/mametchi" ) Young Mametchi
			+nav_item_dropdown( "#" )( label="Adult" )
				+nav_item( "/pet/adult/mametchi" ) Mametchi
	br  
	br  
	div.container-fluid( style="text-align:center;" )
		h1.caps= name
		br
		div.card( style="width:18rem; margin:auto; text-align:center;" )
			img( src= '/res/sprites/'+age+'/'+name+'/dynamic/general.png', class="card-img-top pixel rounded-0 border border-primary", style="max-width:10em;max-height:10em;margin:auto;margin-top:2.5em;background-color:#ababab;", id='petPNG' )
			div.card-body
				h5.card-title.caps= name
				p.card-text Hover over your pet for a closeup view!
				p.card-text Press the button below to select a new animation.
				div.btn-group
					button.btn.btn-primary.dropdown-toggle( type='button', data-bs-toggle='dropdown', aria-haspopup='true', aria-expanded='false' ) Animation
					div.dropdown-menu
						a( class=["dropdown-item"], href= '#', onclick="changeMood('#petPNG','general','"+age+"', '"+name+"')") General
						a( class=["dropdown-item"], href= '#', onclick="changeMood('#petPNG','sleeping','"+age+"', '"+name+"')") Sleeping
						a( class=["dropdown-item"], href= '#', onclick="changeMood('#petPNG','bath','"+age+"', '"+name+"')") Bath
				block
	script( src="/js/view_pet.js", type="text/javascript" )
		