extends layout

block content
	div.container-fluid( style="text-align:center;" )
		h1.caps= title
		p Welcome to #{title}
		+row_container
			div.col
				+card("Eating","","/res/sprites/young/" + title + "/dynamic/eating.png")
			div.col
				+card("General","","/res/sprites/young/" + title + "/dynamic/general.png")
			div.col
				+card("Running","","/res/sprites/young/" + title + "/dynamic/running.png")
			div.col
				+card("Sleeping","","/res/sprites/young/" + title + "/dynamic/sleeping.png")
			div.col
				+card("Surprise Good","","/res/sprites/young/" + title + "/dynamic/surprise_good.png")
			div.col
				+card("Surprise Bad","","/res/sprites/young/" + title + "/dynamic/surprise_bad.png")
			div.col
				+card("General 01","","/res/sprites/young/" + title + "/static/general_01.png")
			div.col
				+card("General 02","","/res/sprites/young/" + title + "/static/general_02.png")
			div.col
				+card("Happy","","/res/sprites/young/" + title + "/static/happy.png")
			div.col
				+card("Back turned","","/res/sprites/young/" + title + "/static/back_turn.png")
			div.col
				+card("Sad","","/res/sprites/young/" + title + "/static/sad.png")
			div.col
				+card("Eyes closed","","/res/sprites/young/" + title + "/static/eyes_closed.png")
			div.col
				+card("Angry","","/res/sprites/young/" + title + "/static/angry.png")
			div.col
				+card("Eating 01","","/res/sprites/young/" + title + "/static/eating_01.png")
			div.col
				+card("Eating 02","","/res/sprites/young/" + title + "/static/eating_02.png")
			div.col
				+card("No","","/res/sprites/young/" + title + "/static/no.png")
			div.col
				+card("Running 01","","/res/sprites/young/" + title + "/static/sitting_01.png")
			div.col
				+card("Running 02","","/res/sprites/young/" + title + "/static/sitting_02.png")
			div.col
				+card("Running 01","","/res/sprites/young/" + title + "/static/running_01.png")
			div.col
				+card("Running 02","","/res/sprites/young/" + title + "/static/running_02.png")
			div.col
				+card("Falling","","/res/sprites/young/" + title + "/static/falling.png")
			div.col
				+card("Surprise","","/res/sprites/young/" + title + "/static/surprise.png")
			div.col
				+card("Surprise Good","","/res/sprites/young/" + title + "/static/surprise_good.png")
			div.col
				+card("Surprise Bad","","/res/sprites/young/" + title + "/static/surprise_bad.png")
			div.col
				+card("Horrible Food","","/res/sprites/young/" + title + "/static/horrible_food.png")
			div.col
				+card("Badly Behaved","","/res/sprites/young/" + title + "/static/badly_behaved.png")
			div.col
				+card("Singing","","/res/sprites/young/" + title + "/static/singing.png")
			div.col
				+card("Tug of war","","/res/sprites/young/" + title + "/static/tug_of_war.png")
			div.col
				+card("Crouching","","/res/sprites/young/" + title + "/static/crouching.png")
			div.col
				+card("In bath","","/res/sprites/young/" + title + "/static/bath_01.png")
			div.col
				+card("In bath","","/res/sprites/young/" + title + "/static/bath_02.png")
			div.col
				+card("In bed","","/res/sprites/young/" + title + "/static/bed_01.png")
			div.col
				+card("In bed","","/res/sprites/young/" + title + "/static/bed_02.png")