body {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 990px)
.bd-navbar {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.bd-navbar {
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.navbar {
  margin-bottom: 20px;
}


a.nav-item.nav-link {
	color: #303030;
}

.navbar {
    --bs-navbar-padding-x: 0.5rem;
}

.pixel {
	image-rendering: pixelated;
}

.caps {
	text-transform: capitalize;
}